@import "tailwindcss";

@plugin "daisyui";

@theme {
    --color-brand: #c2f800;
    --color-muted: #9ca3af;
    --color-background: #000000;
    --color-foreground: #ffffff;
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-inter), sans-serif;
}
