@import "tailwindcss";

:root {
  --primary: #c2f800;
  --secondary: #9ca3af;
  --background: #000000;
  --foreground: #ffffff;
}

@theme {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
